<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Complexivo</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-size: 1.5rem;">RELSB</a>

            <a class="navbar-brand ms-auto" href="/logout" style="font-size: 1.2rem;">Cerrar sesión</a>
        </div>
    </nav>

    <!--Contenedor principal-->
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h1 class="display-4 text-primary">PRODUCTOS</h1>
        </div>

        <div class="mb-3">
            <a class="btn btn-success" href="">Agregar Producto</a>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Stock</th>
                <th>Descripción</th>
                <th class="text-center">Opciones</th>
            </tr>
            </thead>
            <tbody>
                <td>1</td>
                <td>Protoboard</td>
                <td>$20.99</td>
                <td>Electrónica</td>
                <td>50</td>
                <td>Un producto excelente para tus necesidades tecnológicas</td>
                <td class="text-center">
                    <button class="btn btn-info btn-sm">Ver</button>
                    <button class="btn btn-warning btn-sm">Editar</button>
                    <button class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tbody>
        </table>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>